<section class="page-section cta2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <!-- Video on the left -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ug8Q08Pf4fs?si=1FAjak0Sk3Y24jVk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-xl-6 p-8">
                <!-- Text on the right -->
                <h2 class="section-heading col-xl-8 mx-auto mb-4">
                    <span class="section-heading-upper">{{ _("Your's To Uncover") }}</span>
                </h2>
                <p class="col-xl-8 mx-auto mb-10">{{ _('From Leitrim\'s stunning scenery to Longford\'s natural beauty, experience Ireland\'s Hidden Heartlands. Discover magnificent forests, unique landscapes and charming villages.') }}</p>
            </div>
        </div>
    </div>
</section>
