<section class="page-section cta clearfix" id="whatToDo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-faded">
                <div class="intro-text left-0 text-center p-3 d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        <h2 class="mb-4 section-heading"> <span class="section-heading-upper">{{ _("What To Do") }}</span></h2>
                        <h4 class="mb-4"> <span class="section-heading-upper">{{ _("Start Your Adventure") }}</span></h4>
                        <p class="mb-1">{{ _("Enjoy the peace and serenity of Ireland's Hidden Heartlands on a visit to this spellbinding region.") }}</p><br>
                        <p class="mb-1">{{ _("From pretty forest trails to beautiful glass-like lakes, check out the top experiences and things to do.") }}</p><br><a
                            href="https://www.discoverireland.ie/irelands-hidden-heartlands/things-to-do"
                            class="btn btn-primary">{{ _("Discover More...") }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Carousel on the right side -->
                <div id="carouselExampleControls2" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <a href="https://www.discoverireland.ie/clare/heartlands-ecotours">
                                            <img src="{{ url_for('static', filename='assets/img/sv/heartlandsecotours.jpg') }}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="https://www.discoverireland.ie/clare/heartlands-ecotours"
                                                class="link-dark">
                                                <h5 class="card-title">{{ _("Heartlands Ecotours") }}</h5>
                                            </a>
                                            <p class="card-text"><b>Tulla, County Clare</b><br>{{ _("Learn about plants and animals of East Clare and Lough Derg in stunning upland scenery and in the depths of mystical woodlands.") }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <a
                                            href="https://www.discoverireland.ie/offaly/cadamstown-nature-eco-trail-loop">
                                            <img src="{{ url_for('static', filename='assets/img/sv/cadamstown.jpg') }}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="https://www.discoverireland.ie/offaly/cadamstown-nature-eco-trail-loop"
                                                class="link-dark">
                                                <h5 class="card-title">{{ _("Cadamstown Nature Eco Trail") }}</h5>
                                            </a>
                                            <p class="card-text"><b>Cadamstown, County Offaly</b><br>{{ _("Explore the geological wonders of Silver River's rock exposures, cliffs and rock formations.") }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <a href="https://www.discoverireland.ie/leitrim/leitrim-surf-and-sup-company">
                                            <img src="{{ url_for('static', filename='assets/img/sv/leitrim-sup-company-river-paddle.jpg') }}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="https://www.discoverireland.ie/leitrim/leitrim-surf-and-sup-company"
                                                class="link-dark">
                                                <h5 class="card-title">{{ _("Leitrim Surf and SUP Company") }}</h5>
                                            </a>
                                            <p class="card-text"><b>Leitrim Village, County Leitrim</b><br>{{_("Take the Drumshamazon Canal tour with Amazonian-like scenery during the summer.")}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <a
                                            href="https://www.discoverireland.ie/offaly/birr-castle-demesne-historic-science-centre">
                                            <img src="{{ url_for('static', filename='assets/img/header-birr-castle-county-offaly.jpg') }}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="https://www.discoverireland.ie/offaly/birr-castle-demesne-historic-science-centre"
                                                class="link-dark">
                                                <h5 class="card-title">{{ _("Birr Castle Demesne & Historic Science Centre") }}
                                                </h5>
                                            </a>
                                            <p class="card-text"><b>Birr, County Leitrim</b><br>{{_("Tour the castle, explore the gardens and discover the Historic Science Centre's Great Telescope.")}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <a href="https://www.discoverireland.ie/limerick/lough-gur">
                                            <img src="{{ url_for('static', filename='assets/img/header-lough-gur-limerick.jpg') }}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="https://www.discoverireland.ie/limerick/lough-gur"
                                                class="link-dark">
                                                <h5 class="card-title">{{ _("Experience Lough Gur") }}</h5>
                                            </a>
                                            <p class="card-text"><b>Lough Gurr, County Limerick</b><br>{{_("Head to the unique crannog-shaped heritage site and hear the story of pre-Celtic settlers who farmed and lived in Lough Gur.")}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <a
                                            href="https://www.discoverireland.ie/tipperary/lorrha-walking-history-heritage-tours">
                                            <img src="{{ url_for('static', filename='assets/img/sv/lorrha-augustinian-priory.jpg') }}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="https://www.discoverireland.ie/tipperary/lorrha-walking-history-heritage-tours"
                                                class="link-dark">
                                                <h5 class="card-title">{{ _("Lorrha Walking, History & Heritage Tours") }}</h5>
                                            </a>
                                            <p class="card-text"><b>Lorrha, County Limerick</b><br>{{_("Hear fascinating tales of high kings, Vikings, monks, mysteries and miracles.")}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <a
                                            href="https://www.discoverireland.ie/irelands-hidden-heartlands/best-foodie-experiences">
                                            <img src="{{ url_for('static', filename='assets/img/header-foodie-experiences.jpg') }}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="https://www.discoverireland.ie/irelands-hidden-heartlands/best-foodie-experiences"
                                                class="link-dark">
                                                <h5 class="card-title">{{ _("Delicious food in Ireland's Hidden Heartlands") }}
                                                </h5>
                                            </a>
                                            <p class="card-text">{{_("Whether you're a consummate carnivore or a dedicated vegan, you'll be spoilt for choice in Ireland's Hidden Heartlands...")}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <a
                                            href="https://www.discoverireland.ie/irelands-hidden-heartlands/greenways-trails-irelands-hidden-heartlands">
                                            <img src="{{ url_for('static', filename='assets/img/sv/Royal-Canal-Greenway-Westmeath.jpg') }}"
                                                class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <a href="https://www.discoverireland.ie/irelands-hidden-heartlands/greenways-trails-irelands-hidden-heartlands"
                                                class="link-dark">
                                                <h5 class="card-title">{{ _("Greenways and trails in Ireland's Hidden Heartlands") }}</h5>
                                            </a>
                                            <p class="card-text">{{_("Stretching across nine counties, the rich, rural landscapes of Ireland's Hidden Heartlands are both rugged and beautiful...")}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</section>