<section class="page-section" id="whereToStay">
    <div class="container">
        <h2 class="mb-4 section-heading-upper"> <span class="section-heading-upper p-2"><b>{{ _("- Where to Stay -") }}</b></span>
        </h2>
        <h4 class="mb-4"> <span class="section-heading-upper p-2">{{ _("Looking to stay in Ireland's Hidden Heartlands?") }}</span>
        </h4>
        <p class="mb-4 text-wrap p-6">{{ _("Stay on the water or hide away in a lakeside retreat. From brilliant B&B's and countryside manors to 5-star hotels - find your perfect base for exploring Ireland's Hidden Heartlands.") }}<br><br><a href="https://www.discoverireland.ie/irelands-hidden-heartlands/accommodation"
                class="btn btn-primary" style="font-family: 'Raleway';">{{ _("Find Accomodation") }}</a></p>
        <h4 class="mb-4"> <span class="section-heading-upper p-2"><b>{{ _("Featured Picks") }}</b></span></h4>
        <div class="row text-center">
            <!-- images with quick links -->
            <div class="col-md-4">
                <div class="rounded overflow-hidden">
                    <a
                        href="https://www.drumhiernyhideaway.ie/en/lodges/?r=4785002&gad_source=1&gclid=Cj0KCQjwiMmwBhDmARIsABeQ7xRm-WYdmOAwlZgpEr_Fm2_ww43iHUnZc4EOmqU5zNUTN5MFmNvR748aAvqREALw_wcB">
                        <img src="{{ url_for('static', filename='assets/img/sv/drumheirny.jpeg') }}" class="img-fluid"
                            alt="Image 1">
                    </a>
                </div>
                <div class="mt-3">
                    <a href="https://www.drumhiernyhideaway.ie/en/lodges/?r=4785002&gad_source=1&gclid=Cj0KCQjwiMmwBhDmARIsABeQ7xRm-WYdmOAwlZgpEr_Fm2_ww43iHUnZc4EOmqU5zNUTN5MFmNvR748aAvqREALw_wcB"
                        class="link-dark"><b>Drumhierny Woodland Hideaway</b></a>
                    <p>Carrick-On-Shannon, Co. Leitrim<br><a class="btn btn-success"
                            style="font-family: 'Raleway';">{{ _("Eco-Friendly!") }}</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded overflow-hidden">
                    <a
                        href="https://www.airbnb.ie/rooms/44015419?c=.pi0.pk314483168_127445633672&gad_source=1&gclid=Cj0KCQjwiMmwBhDmARIsABeQ7xTFEHphU1yGsa1cDb0mc1W5a0bNvx_lol4QAkeJkdR9Se-o4aks-J8aAqwmEALw_wcB&gclsrc=aw.ds&source_impression_id=p3_1712500151_wn8e7aog%2BPPYZKQp&modal=PHOTO_TOUR_SCROLLABLE">
                        <img src="{{ url_for('static', filename='assets/img/sv/trinity island lodge.jpeg') }}"
                            class="img-fluid" alt="Image 2">
                    </a>
                </div>
                <div class="mt-3">
                    <a href="https://www.airbnb.ie/rooms/44015419?c=.pi0.pk314483168_127445633672&gad_source=1&gclid=Cj0KCQjwiMmwBhDmARIsABeQ7xTFEHphU1yGsa1cDb0mc1W5a0bNvx_lol4QAkeJkdR9Se-o4aks-J8aAqwmEALw_wcB&gclsrc=aw.ds&source_impression_id=p3_1712500151_wn8e7aog%2BPPYZKQp&modal=PHOTO_TOUR_SCROLLABLE"
                        class="link-dark"><b>Trinity Island Lodge</b></a>
                    <p>Killeshandra, Co.Cavan<br><a class="btn btn-success"
                            style="font-family: 'Raleway';">{{ _("Eco-Friendly!") }}</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded overflow-hidden">
                    <a
                        href="https://www.airbnb.ie/rooms/29626897?c=.pi0.pk314483168_127445633672&gad_source=1&gclid=Cj0KCQjwiMmwBhDmARIsABeQ7xS1WQuS-QONnEFLOYQtpas0_ZJcS0pLf1L6kGow3A5KtKwlwPGRdecaAulZEALw_wcB&gclsrc=aw.ds&source_impression_id=p3_1712500707_fZf5n3D7z2ZaHK8n">
                        <img src="{{ url_for('static', filename='assets/img/sv/ardnahoo.jpeg') }}" class="img-fluid"
                            alt="Image 3">
                    </a>
                </div>
                <div class="mt-3">
                    <a href="https://www.airbnb.ie/rooms/29626897?c=.pi0.pk314483168_127445633672&gad_source=1&gclid=Cj0KCQjwiMmwBhDmARIsABeQ7xS1WQuS-QONnEFLOYQtpas0_ZJcS0pLf1L6kGow3A5KtKwlwPGRdecaAulZEALw_wcB&gclsrc=aw.ds&source_impression_id=p3_1712500707_fZf5n3D7z2ZaHK8n"
                        class="link-dark"><b>Ard Nahoo Eco Retreat</b></a>
                    <p>Dromahair, Co. Leitrim<br><a class="btn btn-success"
                            style="font-family: 'Raleway';">{{ _("Eco-Friendly!") }}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
``
