<div id="carouselExampleControls3" class="carousel carousel-light slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="rounded overflow-hidden">
                            <a href="https://www.discoverireland.ie/leitrim">
                                <img src="{{ url_for('static', filename='assets/img/leitrim.jpg') }}" class="img-fluid"
                                    alt="Image 1">
                            </a>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="https://www.discoverireland.ie/leitrim" class="link-dark"><b>Leitrim</b></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="rounded overflow-hidden">
                            <a href="https://www.discoverireland.ie/roscommon">
                                <img src="{{ url_for('static', filename='assets/img/roscommon.jpg') }}"
                                    class="img-fluid" alt="Image 2">
                            </a>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="https://www.discoverireland.ie/roscommon" class="link-dark"><b>Roscommon</b></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="rounded overflow-hidden">
                            <a href="https://www.discoverireland.ie/longford">
                                <img src="{{ url_for('static', filename='assets/img/longford.jpg') }}" class="img-fluid"
                                    alt="Image 3">
                            </a>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="https://www.discoverireland.ie/longford" class="link-dark"><b>Longford</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="rounded overflow-hidden">
                            <a href="https://www.discoverireland.ie/tipperary">
                                <img src="{{ url_for('static', filename='assets/img/tipperary.jpg') }}"
                                    class="img-fluid" alt="Image 1">
                            </a>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="https://www.discoverireland.ie/tipperary" class="link-dark"><b>Tipperary</b></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="rounded overflow-hidden">
                            <a href="https://www.discoverireland.ie/offaly">
                                <img src="{{ url_for('static', filename='assets/img/offaly.jpg') }}" class="img-fluid"
                                    alt="Image 2">
                            </a>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="https://www.discoverireland.ie/offaly" class="link-dark"><b>Offaly</b></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="rounded overflow-hidden">
                            <a href="https://www.discoverireland.ie/westmeath">
                                <img src="{{ url_for('static', filename='assets/img/westmeath.jpg') }}"
                                    class="img-fluid" alt="Image 3">
                            </a>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="https://www.discoverireland.ie/westmeath" class="link-dark"><b>Westmeath</b></a>
                            <!-- Add your description or quick link here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>