<section class="page-section cta clearfix" id="exploreMap">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Video on the left -->
                <div class="position-relative">
                    <div class="text-overlay">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">{{_('Your\'s To Uncover')}}</span>
                        </h2>
                        <p class="mb-4">{{_('From Leitrim\'s stunning scenery to Longford\'s natural beauty, experience Ireland\'s Hidden Heartlands. Discover magnificent forests, unique landscapes, and charming villages.')}}</p>
                    </div>
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/ug8Q08Pf4fs?si=1FAjak0Sk3Y24jVk" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Map on the right -->
                <div class="position-relative">
                    <iframe
                        src="https://www.google.com/maps/d/u/0/embed?mid=18uagelrXThQXAWWda4BfcqqfzGRTgLA&ehbc=2E312F&noprof=1"
                        width="100%" height="315" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                    <div class="text-overlay p-3">
                        <h2 class="mb-4 section-heading"><span class="section-heading-upper">{{_('Get exploring')}}</span></h2>
                        <p class="mb-4">{{_('Uncover the treasures of Ireland\'s Hidden Heartlands. Cruise down scenic waterways, explore countryside walking trails, and enjoy incredible outdoor adventures.')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
