<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-md-4 mx-auto">
            <div class="box bg-color">
                <h3 class="mb-4 text-center">{{_('Where to Go')}}</h3>
                <ul class="list-unstyled">
                    <li>-> <a href="https://www.discoverireland.ie/leitrim" class="link-light">{{_('Leitrim')}}</a></li>
                    <li>-> <a href="https://www.discoverireland.ie/roscommon" class="link-light">{{_('Roscommon')}}</a></li>
                    <li>-> <a href="https://www.discoverireland.ie/longford" class="link-light">{{_('Longford')}}</a></li>
                    <li>-> <a href="https://www.discoverireland.ie/tipperary" class="link-light">{{_('Tipperary')}}</a></li>
                    <li>-> <a href="https://www.discoverireland.ie/offaly" class="link-light">{{_('Offaly')}}</a></li>
                    <li>-> <a href="https://www.discoverireland.ie/westmeath" class="link-light">{{_('Westmeath')}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="box bg-color">
                <h3 class="mb-4 text-center">{{_('What to Do')}}</h3>
                <ul class="list-unstyled">
                    <li>-> <a href="https://www.discoverireland.ie/roscommon/zipit-lough-key-ltd"
                            class="link-light">{{_('Zipit Lough Key')}}</a></li>
                    <li>-> <a href="https://www.discoverireland.ie/westmeath/viking-tours" class="link-light">{{_('Viking Tours')}}</a></li>
                    <li>-> <a href="https://www.discoverireland.ie/longford/cloughan-farm-cookery-school"
                            class="link-light">{{_('Cloughan Farm & Cookery School')}}</a></li>
                </ul>
                <a href="https://www.discoverireland.ie/irelands-hidden-heartlands/things-to-do" class="btn btn-primary"
                    style="font-family: 'Raleway';">{{_('Discover More')}}</a>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="box bg-color">
                <h3 class="mb-4 text-center">{{_('Where to Stay')}}</h3>
                <ul class="list-unstyled">
                    <li>-> <a href="https://www.radathlone.com/" class="link-light">{{_('Radisson Blu Hotel Athlone')}}</a></li>
                    <li>-> <a href="https://www.loughreahotelandspa.com/" class="link-light">{{_('Lough Rea Hotel & Spa')}}</a>
                    </li>
                    <li>-> <a href="https://www.bridgehousehoteltullamore.ie/?devicetype=pc" class="link-light">{{_('Bridge House Hotel Spa and Leisure Club')}}</a></li>
                </ul>
                <a href="https://www.discoverireland.ie/irelands-hidden-heartlands/accommodation"
                    class="btn btn-primary" style="font-family: 'Raleway';">{{_('Find More Accommodation')}}</a>
            </div>
        </div>
    </div>
</div>
```