<section class="page-section bg-faded" id="whatToDo">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 bg-faded text-center rounded">
                <div class="intro-text p-5" style="color: white;">
                    <h2 class="mb-4 section-heading"> <span class="section-heading-upper">{{_('- What To Do -')}}</span></h2>
                    <h4 class="mb-4"> <span class="section-heading-upper">{{_('Start Your Adventure')}}</span></h4>
                    <p class="mb-1">{{_('Enjoy the peace and serenity of Ireland\'s Hidden Heartlands on a visit to this spellbinding region.')}}</p><br>
                    <p class="mb-1">{{_('From pretty forest trails to beautiful glass-like lakes, check out the top experiences and things to do.')}}</p><br><a
                        href="https://www.discoverireland.ie/irelands-hidden-heartlands/things-to-do"
                        class="btn btn-primary">{{_('Discover More...')}}</a></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="https://www.discoverireland.ie/roscommon/zipit-lough-key-ltd">
                                <img src="{{ url_for('static', filename='assets/img/ko/lough-key-zipit.jpg') }}"
                                    class="card-img-top" alt="{{_('Heartlands Ecotours')}}">
                            </a>
                            <div class="card-body">
                                <a href="https://www.discoverireland.ie/roscommon/zipit-lough-key-ltd"
                                    class="link-dark">
                                    <h5 class="card-title">{{_('Zipit Lough Key')}}</h5>
                                </a>
                                <p class="card-text">
                                    <b>{{_('Boyle, County Roscommon')}}</b><br>
                                    {{_('Experience the excitement of challenging, adrenaline-fueled activities in the treetops.')}}
                                    <a class="btn btn-secondary">{{_('Great For Kids')}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="https://www.discoverireland.ie/westmeath/viking-tours">
                                <img src="{{ url_for('static', filename='assets/img/ko/viking-tours.jpg') }}"
                                    class="card-img-top" alt="{{_('Cadamstown Nature Eco Trail')}}">
                            </a>
                            <div class="card-body">
                                <a href="https://www.discoverireland.ie/westmeath/viking-tours" class="link-dark">
                                    <h5 class="card-title">{{_('Viking Tours')}}</h5>
                                </a>
                                <p class="card-text">
                                    <b>{{_('Athlone, County Westmeath')}}</b><br>
                                    {{_('Sit back and listen, while taking in the magnificent scenery, wildlife and heritage.')}}
                                    <br><a class="btn btn-secondary">{{_('Great For Family')}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="https://www.discoverireland.ie/longford/cloughan-farm-cookery-school">
                                <img src="{{ url_for('static', filename='assets/img/ko/cloughan-farm-and-cookery-school.jpg') }}"
                                    class="card-img-top" alt="{{_('Cadamstown Nature Eco Trail')}}">
                            </a>
                            <div class="card-body">
                                <a href="https://www.discoverireland.ie/longford/cloughan-farm-cookery-school"
                                    class="link-dark">
                                    <h5 class="card-title">{{_('Cloughan Farm & Cookery School')}}</h5>
                                </a>
                                <p class="card-text">
                                    <b>{{_('Abbeyshrule, County Longford')}}</b><br>
                                    {{_('Reconnect with land and food with Longford Hero Food Champions Fiona Egan and Michael Farrell.')}}
                                    <br><a class="btn btn-secondary">{{_('Great For Parents')}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
