<div class="row text-center">
    <div class="col-md-4">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="rounded overflow-hidden">
                <a href="https://www.discoverireland.ie/leitrim">
                    <img src="{{ url_for('static', filename='assets/img/leitrim.jpg') }}" class="img-fluid"
                        alt="Image 1"> 
                </a>
            </div>
            <div class="mt-3 text-center">
                <a href="https://www.discoverireland.ie/leitrim" class="link-dark"><b>{{_('Leitrim')}}</b></a> 
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="rounded overflow-hidden">
                <a href="https://www.discoverireland.ie/roscommon">
                    <img src="{{ url_for('static', filename='assets/img/roscommon.jpg') }}" class="img-fluid"
                        alt="Image 2"> 
                </a>
            </div>
            <div class="mt-3 text-center">
                <a href="https://www.discoverireland.ie/roscommon" class="link-dark"><b>{{_('Roscommon')}}</b></a> 
            </div>
        </div>
    </div>
    <!-- Repeat for the remaining columns -->
    <div class="col-md-4">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="rounded overflow-hidden">
                <a href="https://www.discoverireland.ie/longford">
                    <img src="{{ url_for('static', filename='assets/img/longford.jpg') }}" class="img-fluid"
                        alt="Image 3">
                </a>
            </div>
            <div class="mt-3 text-center">
                <a href="https://www.discoverireland.ie/longford" class="link-dark"><b>{{_('Longford')}}</b></a> 
            </div>
        </div>
    </div>
    <div class="col-md-4 p-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="rounded overflow-hidden">
                <a href="https://www.discoverireland.ie/tipperary">
                    <img src="{{ url_for('static', filename='assets/img/tipperary.jpg') }}" class="img-fluid"
                        alt="Image 1"> 
                </a>
            </div>
            <div class="mt-3 text-center">
                <a href="https://www.discoverireland.ie/tipperary" class="link-dark"><b>{{_('Tipperary')}}</b></a> 
            </div>
        </div>
    </div>
    <div class="col-md-4 p-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="rounded overflow-hidden">
                <a href="https://www.discoverireland.ie/offaly">
                    <img src="{{ url_for('static', filename='assets/img/offaly.jpg') }}" class="img-fluid"
                        alt="Image 2">
                </a>
            </div>
            <div class="mt-3 text-center">
                <a href="https://www.discoverireland.ie/offaly" class="link-dark"><b>{{_('Offaly')}}</b></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="rounded overflow-hidden">
                <a href="https://www.discoverireland.ie/westmeath">
                    <img src="{{ url_for('static', filename='assets/img/westmeath.jpg') }}" class="img-fluid"
                        alt="Image 3"> 
                </a>
            </div>
            <div class="mt-3 text-center">
                <a href="https://www.discoverireland.ie/westmeath" class="link-dark"><b>{{_('Westmeath')}}</b></a> 
            </div>
        </div>
    </div>
</div>
